.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: var(--box);
  transition: all 0.4s;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.text {
  color: var(--textPrimary);
  transition: color 0.4s;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.toggle {
  width: 200px;
  align-self: center;
  padding: 15px 25px;
  border-radius: 2px;
  background: var(--primary);
  border: var(--border);
  color: #fff;
  border: none;
  transition: all 0.4s;
  font-weight: bold;
}
